@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my dream application!</h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <body style="background-image: https://evasys.co.uk/wp-content/uploads/2020/08/Microsoft-Azure-1200x675-1.jpg('myImg.jpg');">
    </body>
    
  
    
   
</div>
